@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");

.popup {
  height: 200px;
  width: 250px;
  margin: 5px 5px 5px 5px;
}

.popup-header {
  text-align: center;
  margin-bottom: 20px;
}

#input-fields {
  display: grid;
  row-gap: 5px;
  margin-bottom: 20px;
}

label,
.popup-header {
  font-family: Roboto;
}
